<h1 style= "margin-left: 20px">Stupid Coaching!</h1>

<div class="question-card">
  <p><%=@question %></p>
  <i>-You</i>
</div>

<div class="answer-card">
  <p><%=@answer %></p>
  <i>-The Coach</i>
</div>

<%= link_to "Ask a new question", ask_path %>